*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.bgMorado{
    background: rgb(188, 96, 188);
}

.bgFuego{
    background: #fd7d24;
}

.bgAgua{
    background: #4592c4;
}

.bgBicho{
    background: #729f3f;
}

.sombra{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.imgDetalle{
    width: 80vw;
}


@media all and (min-width: 767px) and (max-width: 991px) {
    .imgDetalle{
        height: 475px;
        width: 475px;
    }
}

@media all and (min-width: 992px){
    .imgDetalle{
        height: 475px;
        width: 475px;
    }
}